<li class="pf-c-data-list__item" [ngClass]="{'pf-m-expanded': showDetails}" [appTplModifier]="movie">
  <div class="pf-c-data-list__item-row">
    <div class="pf-c-data-list__item-control">
      <div class="pf-c-data-list__toggle">
        <button (click)="toggleDetails()" class="pf-c-button pf-m-plain" type="button" aria-label="Toggle details for" aria-expanded="false" aria-controls="content-1">
          <i class="fas fa-angle-right pf-c-data-list__toggle-icon"></i>
        </button>
      </div>

    </div>
    <div class="pf-c-data-list__item-content">
      <div class="pf-c-data-list__cell pf-m-align-left">
        <div>
          <div>
            <p id="page-layout-data-list-expandable-data-list-item1">
              {{movie.title}}
            </p>
            <small>Episode id: {{movie.episode_id}}
            </small>
          </div>
          <div class="pf-l-flex pf-m-wrap">
            <div>
              Director: {{movie.director}}
            </div>
            <div>
              Producer: {{movie.producer}}
            </div>
          </div>
          <div>Released: {{movie.release_date | date}}</div>
        </div>
      </div>
    </div>
    <div class="pf-c-data-list__item-action">
      <button class="pf-c-button pf-m-secondary" type="button">Watch now</button>
    </div>
  </div>
  <app-list-item-details *ngIf="showDetails" [movie]="movie"></app-list-item-details>
</li>
