<div style="padding:2em;text-align:center">
<h1>This is the playground area</h1>
<div>
  <div class="playing">This is inside playing class</div>
  <div>
    <input  [(ngModel)]="parentNgModelvar" type="text" #nameRef placeholder="Just an input">
  </div>
  <div>
    <input  [(ngModel)]="parentObj.a" type="text" placeholder="Just an input">
  </div>
  <div>
    <input appAttrTest type="number" placeholder="A number input">
  </div>
  <div>
    <strong>Child component</strong>
    <app-child [parentVar]="parentNgModelvar" [parentObj]="parentObj"></app-child>
  </div>
</div>
</div>
