<!-- <h1>These are observables</h1>
<app-observable-list></app-observable-list>
<hr>
<h1>These are promises</h1>
<app-promise-list></app-promise-list> -->
<!-- <ul class="pf-c-data-list" *ngIf="items$ | async as items; else loading">
  <app-list-item *ngFor="let item of items" [movie]="item"></app-list-item>
</ul> -->

<!-- <router-outlet></router-outlet> -->

<div #drawer class="pf-c-drawer pf-m-inline-on-2xl" [ngClass]="{'pf-m-expanded': subRouteActive$ | async}">
  <div class="pf-c-drawer__main">
    <div class="pf-c-drawer__content pf-m-no-background">
      <div class="pf-c-drawer__body pf-m-padding">
        <ul *ngIf="items$ | async as movies;else loading;" class="pf-c-data-list" role="list">
          <app-list-item *ngFor="let movie of movies" [movie]="movie"></app-list-item>
        </ul>
      </div>
    </div>
    <div class="pf-c-drawer__panel" aria-expanded="true">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #loading>
  <span class="pf-c-spinner" role="progressbar" aria-valuetext="Loading...">
    <span class="pf-c-spinner__clipper"></span>
    <span class="pf-c-spinner__lead-ball"></span>
    <span class="pf-c-spinner__tail-ball"></span>
  </span>
</ng-template>

