<section class="pf-c-page__main-section" style="min-height:70vh">
  <div>

    <form #formRef="ngForm" (ngSubmit)="login(formRef.value)" class="pf-c-form">

      <div class="pf-c-form__group">
        <label class="pf-c-form__label" for="username">
          <span class="pf-c-form__label-text">Username</span>
          <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
        </label>
        <input #username="ngModel" [required]="password.value !== 'abc'"
          [(ngModel)]="user.username" class="pf-c-form-control"
          type="text" name="username" [attr.aria-invalid]="!!username.errors" />
        <p *ngIf="username?.errors?.required" class="pf-c-form__helper-text pf-m-error">Username is required</p>
        <pre>name ref is {{username.errors}}</pre>
      </div>

      <div class="pf-c-form__group">
        <label class="pf-c-form__label" for="password">
          <span class="pf-c-form__label-text">Password</span>
          <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
        </label>
        <input #password="ngModel" [(ngModel)]="user.password" class="pf-c-form-control"
          type="password" name="password" aria-invalid="true" />
        <p class="pf-c-form__helper-text pf-m-error">Password is required</p>
      </div>

      <div class="pf-c-form__group pf-m-action">
        <button class="pf-c-button pf-m-primary pf-m-block" type="submit">Log in</button>
      </div>

    </form>

    <div>
      <pre>{{formRef.value | json}}</pre>
    </div>

  </div>
</section>
