<main role="main" class="pf-c-page__main" tabindex="-1" id="main-content-page-default-nav-example">
  <section class="pf-c-page__main-breadcrumb">
    <nav class="pf-c-breadcrumb" aria-label="breadcrumb">
      <ol class="pf-c-breadcrumb__list">
        <li class="pf-c-breadcrumb__item">
          <a href="#" class="pf-c-breadcrumb__link">Demo breadcrump</a>
          <span class="pf-c-breadcrumb__item-divider">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </span>
        </li>
      </ol>
    </nav>
  </section>
  <section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
      <h1>Demo title</h1>
      <p>Demo subtitle</p>
    </div>
  </section>
  <section class="pf-c-page__main-section">
    <router-outlet></router-outlet>
  </section>
</main>
