<main role="main" class="pf-c-page__main" tabindex="-1" id="main-content-page-default-nav-example">
  <section class="pf-c-page__main-breadcrumb">
    <nav class="pf-c-breadcrumb" aria-label="breadcrumb">
      <ol class="pf-c-breadcrumb__list">
        <li class="pf-c-breadcrumb__item">
          <a href="#" class="pf-c-breadcrumb__link">Section home</a>
          <span class="pf-c-breadcrumb__item-divider">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </span>
        </li>
        <li class="pf-c-breadcrumb__item">
          <a href="#" class="pf-c-breadcrumb__link">Section title</a>
          <span class="pf-c-breadcrumb__item-divider">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </span>
        </li>
        <li class="pf-c-breadcrumb__item">
          <a href="#" class="pf-c-breadcrumb__link">Section title</a>
          <span class="pf-c-breadcrumb__item-divider">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </span>
        </li>
        <li class="pf-c-breadcrumb__item">
          <a href="#" class="pf-c-breadcrumb__link pf-m-current" aria-current="page">Section landing</a>
        </li>
      </ol>
    </nav>
  </section>
  <section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
      <h1>{{mainTitle$ | async}}</h1>
      <p>This is a demo of the Page component.</p>
    </div>
  </section>
  <section class="pf-c-page__main-section pf-m-no-padding">
    <router-outlet></router-outlet>
  </section>
</main>
