<div style="padding:2em;border:1px solid #ddd;">
  <h3 class="pf-c-title pf-m-2xl">Child componnent</h3>

  <pre>{{parentVar | json}}</pre>

  <ul>
    <li *ngFor="let item of parentVar;let index">
      <a [routerLink]="['more', {name: item.name}]"
        [state]="item">
        {{item.name}}
      </a>
    </li>
  </ul>



  <div>
    <select #itemVal class="pf-c-form-control" name="itemsdata">
      <option *ngFor="let item of parentVar;" value="{{item.name}}">
        {{item.name}}, currently {{item.age}}
      </option>
    </select>
    <button (click)="incrementAge(itemVal.value)"
      class="pf-c-button pf-m-primary" type="button">
      Increment age
    </button>
  </div>
</div>
<div>
  <ng-content select="div"></ng-content>
</div>
