<section class="pf-c-data-list__expandable-content" id="content-1" aria-label="Content details">
  <div class="pf-c-data-list__expandable-content-body pf-m-no-padding">
    <table class="pf-c-table pf-m-compact pf-m-grid-lg pf-m-no-border-rows" role="grid" aria-label="This is a compact table example" id="compact-table-demo-data-list">
      <thead>
        <tr role="row">
          <td class="pf-c-table__check" role="cell">
            <input type="checkbox" name="check-all" aria-label="Select all rows">
          </td>
          <th role="columnheader" scope="col">Contributor</th>
          <th role="columnheader" scope="col">Position</th>
          <th role="columnheader" scope="col">Location</th>
          <th role="columnheader" scope="col">Last seen</th>
          <th role="columnheader" scope="col">Numbers</th>
          <th class="pf-c-table__icon " role="columnheader" scope="col">Icons</th>
          <th role="columnheader"></th>
          <th role="columnheader"></th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <tr role="row">
          <td class="pf-c-table__check" role="cell">
            <input type="checkbox" name="checkrow1" aria-labelledby="compact-table-demo-data-list-name1">
          </td>
          <th role="columnheader" data-label="Contributor">
            <span id="compact-table-demo-data-list-name1">Sam Jones</span>
          </th>
          <td role="cell" data-label="Position">CSS guru</td>
          <td role="cell" data-label="Location">Not too sure</td>
          <td role="cell" data-label="Last seen">May 9, 2018</td>
          <td role="cell" data-label="Numbers">0556</td>
          <td class="pf-c-table__icon" role="cell" data-label="Icon">
            <i class="fas fa-check"></i>
          </td>
          <td role="cell" data-label="Action">
            <a href="#">Action link</a>
          </td>
          <td class="pf-c-table__action" role="cell">
            <div class="pf-c-dropdown">
              <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="compact-table-demo-data-list-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
              </button>
              <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="compact-table-demo-data-list-dropdown-kebab-right-aligned-1-button" hidden="">
                <li>
                  <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                </li>
                <li>
                  <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                </li>
                <li>
                  <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                </li>
                <li>
                  <button class="pf-c-dropdown__menu-item" type="button" disabled="">Disabled action</button>
                </li>
                <li class="pf-c-dropdown__separator" role="separator"></li>
                <li>
                  <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr role="row">
          <td class="pf-c-table__check" role="cell">
            <input type="checkbox" name="checkrow2" aria-labelledby="compact-table-demo-data-list-name2">
          </td>
          <th role="columnheader" data-label="Contributor">
            <span id="compact-table-demo-data-list-name2">Amy Miller</span>
          </th>
          <td role="cell" data-label="Position">Visual design</td>
          <td role="cell" data-label="Location">Raleigh</td>
          <td role="cell" data-label="Last seen">May 9, 2018</td>
          <td role="cell" data-label="Numbers">9492</td>
          <td class="pf-c-table__icon" role="cell" data-label="Icon">
            <i class="fas fa-check"></i>
          </td>
          <td role="cell" data-label="Action">
            <a href="#">Action link</a>
          </td>
          <td class="pf-c-table__action" role="cell">
            <div class="pf-c-dropdown">
              <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="compact-table-demo-data-list-dropdown-kebab-right-aligned-2-button" aria-expanded="false" aria-label="Actions">
                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
              </button>
              <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="compact-table-demo-data-list-dropdown-kebab-right-aligned-2-button" hidden="">
                <li>
                  <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                </li>
                <li>
                  <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                </li>
                <li>
                  <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                </li>
                <li>
                  <button class="pf-c-dropdown__menu-item" type="button" disabled="">Disabled action</button>
                </li>
                <li class="pf-c-dropdown__separator" role="separator"></li>
                <li>
                  <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr role="row">
          <td class="pf-c-table__check" role="cell">
            <input type="checkbox" name="checkrow3" aria-labelledby="compact-table-demo-data-list-name3">
          </td>
          <th role="columnheader" data-label="Contributor">
            <span id="compact-table-demo-data-list-name3">Steve Wilson</span>
          </th>
          <td role="cell" data-label="Position">Visual design lead</td>
          <td role="cell" data-label="Location">Westford</td>
          <td role="cell" data-label="Last seen">May 9, 2018</td>
          <td role="cell" data-label="Numbers">9929</td>
          <td class="pf-c-table__icon" role="cell" data-label="Icon">
            <i class="fas fa-check"></i>
          </td>
          <td role="cell" data-label="Action">
            <a href="#">Action link</a>
          </td>
          <td class="pf-c-table__action" role="cell">
            <div class="pf-c-dropdown">
              <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="compact-table-demo-data-list-dropdown-kebab-right-aligned-3-button" aria-expanded="false" aria-label="Actions">
                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
              </button>
              <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="compact-table-demo-data-list-dropdown-kebab-right-aligned-3-button" hidden="">
                <li>
                  <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                </li>
                <li>
                  <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                </li>
                <li>
                  <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                </li>
                <li>
                  <button class="pf-c-dropdown__menu-item" type="button" disabled="">Disabled action</button>
                </li>
                <li class="pf-c-dropdown__separator" role="separator"></li>
                <li>
                  <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr role="row">
          <td class="pf-c-table__check" role="cell">
            <input type="checkbox" name="checkrow4" aria-labelledby="compact-table-demo-data-list-name4">
          </td>
          <th role="columnheader" data-label="Contributor name">
            <span id="compact-table-demo-data-list-name4">Emma Jackson</span>
          </th>
          <td role="cell" data-label="Position">Interaction design</td>
          <td role="cell" data-label="Location">Westford</td>
          <td role="cell" data-label="Workspaces">May 9, 2018</td>
          <td role="cell" data-label="Last commit">2217</td>
          <td class="pf-c-table__icon" role="cell" data-label="Icon">
            <i class="fas fa-check"></i>
          </td>
          <td role="cell" data-label="Action">
            <a href="#">Action link</a>
          </td>
          <td class="pf-c-table__action" role="cell">
            <div class="pf-c-dropdown">
              <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="compact-table-demo-data-list-dropdown-kebab-right-aligned-4-button" aria-expanded="false" aria-label="Actions">
                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
              </button>
              <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="compact-table-demo-data-list-dropdown-kebab-right-aligned-4-button" hidden="">
                <li>
                  <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                </li>
                <li>
                  <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                </li>
                <li>
                  <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                </li>
                <li>
                  <button class="pf-c-dropdown__menu-item" type="button" disabled="">Disabled action</button>
                </li>
                <li class="pf-c-dropdown__separator" role="separator"></li>
                <li>
                  <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
