<section class="pf-c-page__main-section" style="min-height:70vh">
  <div>

    <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)" class="pf-c-form">

      <div class="pf-c-form__group">
        <label class="pf-c-form__label" for="username">
          <span class="pf-c-form__label-text">Username</span>
          <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
        </label>
        <input [(ngModel)]="user.username" required
          #username="ngModel"
          class="pf-c-form-control"
          type="text" name="username" aria-invalid="true" />
        <p *ngIf="username?.errors?.required" class="pf-c-form__helper-text pf-m-error">Username is required</p>
      </div>

      <div class="pf-c-form__group">
        <label class="pf-c-form__label" for="password">
          <span class="pf-c-form__label-text">Password</span>
          <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
        </label>
        <input class="pf-c-form-control" [(ngModel)]="user.password" type="text" name="password" aria-invalid="true" />
        <p class="pf-c-form__helper-text pf-m-error">Password is required</p>
      </div>

      <div class="pf-c-form__group pf-m-action">
        <button class="pf-c-button pf-m-primary pf-m-block" type="submit">Log in</button>
      </div>

    </form>

    <pre>{{formRef.value | json}}</pre>

    <hr>
    <pre>{{username.errors | json}}</pre>

  </div>
</section>
